@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Typography */

/* Header part */
.header-upper {
  margin: 4em 2.5em 12em 4em;
  display: flex;
  justify-content: space-between;
}
.header-upper a {
  text-decoration: none;
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  align-self: center;
  padding: 0.5em 2em;
  border-radius: 50px;
  opacity: 0.6;
}

.header-main {
  text-align: center;
}
.header-main h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}
.header-main .blocktext-p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  line-height: 1.5;
  margin-bottom: 3em;
}
.header-main a {
  text-decoration: none;
  background-color: hsl(322, 100%, 66%);
  color: #ffffff;
  border: 1px solid hsl(322, 100%, 66%);
  align-self: center;
  padding: 1em 4em;
  border-radius: 50px;
  margin-bottom: 5em;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.header-btn {
  margin-bottom: 6em;
}
.header-main img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 3em;
}

.header-number {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10em;
}
.number1,
.number2 {
  display: block;
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
}
.p-text {
  text-align: center;
  opacity: 0.4;
}
.number1::before {
  content: url(images/icon-communities.svg);
  display: block;
}
.number2::before {
  content: url(images/icon-messages.svg);
  display: block;
}

/* Main part */
main h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0.5em;
}
.m-text {
  align-self: center;
}
.main-p {
  padding-right: 4em;
}

.m-part1,
.m-part2,
.m-part3 {
  display: flex;
  justify-content: space-between;
}
.m-part2 {
  flex-direction: row-reverse;
}

.grow-desktop,
.grow-desk-bottom,
.users-top,
.users-desk-bottom {
  width: auto;
  max-width: 100%;
  height: auto;
}

.grow-together,
.conversation,
.your-users img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.m-part1,
.m-part3 {
  background-color: hsl(207, 100%, 98%);
}

.m-part1,
.m-part2,
.m-part3 {
  padding-right: 4em;
  padding-bottom: 4em;
  padding-top: 4em;
}
.m-text {
  padding-left: 8em;
  padding-right: 2em;
}
.grow-desktop,
.users-top {
  transform: translateY(15px);
}

.main-imgs .conversation {
  padding-left: 6em;
}
.m-part4 {
  text-align: center;
  padding: 8em;
}
.m-part4 h2 {
  margin-bottom: 1em;
}
.m-part4 a {
  text-decoration: none;
  background-color: hsl(322, 100%, 66%);
  color: #ffffff;
  border: 1px solid hsl(322, 100%, 66%);
  align-self: center;
  padding: 1em 4em;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/* Footer part */

.footer-main {
  background-color: hsl(192, 100%, 9%);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  background-color: hsl(192, 100%, 9%);
  color: #ffffff;
  padding: 4em;
  padding-bottom: 1em;
}

.footer-content > div {
  margin: 2em;
}

.footer-curve {
  width: auto;
  max-width: 100%;
  height: auto;
  transform: translateY(10px);
}

.footer-logo {
  filter: brightness(0) invert(1);
  padding-bottom: 1.5em;
}

.f-address,
.f-phone {
  padding-bottom: 1.5em;
}

.f-phone,
.f-email {
  list-style: none;
}

.phone-icon,
.email-icon {
  padding-right: 1em;
}
.f-address {
  padding-right: 8em;
}

.news-letter {
  padding-left: 5em;
  margin-left: 5em;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.news-letter h2 {
  padding-bottom: 1em;
}
.news-letter p {
  padding-right: 18em;
  padding-bottom: 1.5em;
}
.news-letter input {
  width: 60%;
  margin-right: 2em;
  height: 3.5em;
  border-radius: 5px;
}

.news-letter a {
  text-decoration: none;
  background-color: hsl(322, 100%, 66%);
  color: #ffffff;
  border: 1px solid hsl(322, 100%, 66%);
  align-self: center;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.socials {
  display: flex;
  padding-left: 4.5em;
  padding-bottom: 4em;
  letter-spacing: 0.7em;
  font-size: 1.33em;
}

@media (max-width: 1100px) {
  .header-main img {
    width: auto;
    max-width: 90%;
    height: auto;
    margin-bottom: 3em;
  }
  .news-letter p {
    padding-right: 8em;
    padding-bottom: 1.5em;
  }
  .news-letter input {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 639px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .header-upper {
    margin: 3em 1em 8em 1em;
  }
  .header-logo {
    height: 15px;
  }
  .header-upper a {
    padding: 0.2em 1em;
    font-size: 0.8rem;
    transform: translateY(-0.3em);
  }
  .header-main a {
    padding: 0.5em 2em;
  }
  .header-main h2 {
    margin-top: 1em;
  }
  .blocktext-p {
    max-width: 90%;
  }
  .header-number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5em;
    height: 500px;
    text-align: center;
  }
  .number1::before {
    content: url(images/icon-communities.svg);
    position: relative;
    right: 1em;
  }
  .number2::before {
    content: url(images/icon-messages.svg);
    position: relative;
    right: 1em;
  }

  .m-part1,
  .m-part2,
  .m-part3 {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding-right: 0;
  }

  .m-text {
    padding: 1em;
  }
  .main-title,
  .m-part4 h2 {
    font-size: 1.5rem;
  }

  .grow-mobile-top,
  .grow-mobile-bottom,
  .users-mobile-top,
  .users-mobile-bottom,
  .ft-cur-mobile {
    width: 100%;
  }
  .grow-mobile-top,
  .users-mobile-top,
  .ft-cur-mobile {
    transform: translateY(1em);
  }

  .main-text h2 {
    padding-bottom: 1.5em;
  }
  .main-p {
    text-align: center;
    padding-right: 0;
    line-height: 1.7;
  }
  .main-imgs {
    text-align: center;
    width: 80%;
    height: auto;
    margin: 3em;
  }
  .main-imgs .conversation {
    padding-left: 0;
  }

  .grow-desktop,
  .grow-desk-bottom,
  .users-top,
  .users-desk-bottom,
  .footer-curve {
    display: none;
  }

  .m-part4 h2 {
    margin-bottom: 2em;
  }
  .m-part4 {
    padding: 4em;
    margin-bottom: 12em;
  }
  .main-btn a {
    padding: 1em 2em;
  }
  .footer-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 1em;
  }
  .news-letter {
    margin: 0;
    padding: 0;
  }
  .news-letter p {
    line-height: 1.7;
    display: block;
    padding-right: 0;
  }

  .footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .news-letter input {
    width: 100%;
    margin: 0 0 2em 0;
  }
  .news-letter a {
    align-self: flex-end;
  }
  .footer-logo {
    width: 80%;
  }
  .f-address {
    padding-right: 0;
    line-height: 1.7;
  }
  .socials {
    padding-left: 2.5em;
  }
}
@media screen and (min-width: 640px) {
  .grow-mobile-top,
  .grow-mobile-bottom,
  .users-mobile-top,
  .users-mobile-bottom,
  .ft-cur-mobile {
    display: none;
  }
}
